<div class="row">
<div class='rep-column col s12 m4 l3'>
  <h4><%= @rep['first_name'] %> <%= @rep['last_name'] %></h4> <h5><em>(<%= @rep['party'] %>-<%= @rep['state']%>)</em></h5>
  <% if @rep['twitter_id'] %>
    <%= link_to image_tag("http://www.leap-program.org/site/wp-content/uploads/2012/12/twitterbutton2.png", height: '32'), "http://twitter.com/#{@rep['twitter_id']}"%>
  <% end %>
  <% if @rep['youtube_id'] %>
    <%= link_to image_tag("http://cliparts.co/cliparts/di9/Xon/di9XonMjT.png", height: '32'), "http://youtube.com/#{@rep['youtube_id']}"%>
  <%end%>
  <% if @rep['crp_id'] %>
    <%= link_to image_tag("https://cdn0.iconfinder.com/data/icons/computer-web/512/1-512.png", height: '32'), "https://www.opensecrets.org/politicians/summary.php?cid=#{@rep['crp_id']}"%>
  <% end %>
  <% if @rep['website'] %>
    <%= link_to image_tag("http://epagestore.com/img/icon5.png", height: '32'), @rep['website'] %>
  <% end %>
  <br />
  <%= link_to "Back to Map", current_user, class: "light-blue lighten-3 waves-effect waves-light btn-large" %>
    <h4>Committees</h4>

    <ul>
      <% @committees.each do |committee|  %>
        <li><%= committee["name"] %></li>
      <% end %>
    </ul>


</div>

<div class='vote-column col s12 m8 l9'>
  <h3 class='vote-header'>Recent Votes</h3>
  <ul>
  <% @votes.each do |vote| %>
  <% puts vote %>
    <%if vote.vote == "Nay" || vote.vote == "No"%>
      <li>
        <p class=""><%= image_tag("http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.med.png", height: '25')%> <%= vote.number %> <%= vote.description %></p>
      </li>
    <%elsif vote.vote == "Yea" || vote.vote == "Aye" %>
      <li>
        <p class=""><%= image_tag("https://upload.wikimedia.org/wikipedia/commons/8/8f/Checkmark.svg", height: '25') %> <%= vote.number %> <%= vote.description %></p>
      </li>
    <% else vote.vote %>
      <li>
        <p><%= vote.vote %> <%= vote.number %> <%= vote.description %></p>
      </li
    <% end %>
  <% end %>
  </ul>
  <% if @floor_updates.first %>
    <h3 class='vote-header'>Floor Updates</h3>
    <ul>
    <% @floor_updates.each do |floor| %>
      <li><%= floor %></li><br />
    <% end %>
    </ul>
  <% end %>
</div>
</div>
<footer class='page-footer light-blue lighten-3'>
</footer>
